/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  line-height: 1.5;
  padding: 1.5;
}

h1 {
  font-weight: bold;
}

example{
  color: red;
  font-size: 120%;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}


